:root {
  --color-green-light: #D3FBE3;
  --color-green: #5DE1A2;
  --color-green--25: rgba(93, 225, 162, 0.25);
  --color-green-dark: #156D39;
  --color-green-dark-high: #0B4824;
  --color-black: #000000;
  --color-black--70: rgba(0, 0, 0, 0.7);
  --color-white: #FFFFFF;
  --color-grey-light: #F1F1F1;
  /* FONTS */
  --font-size-base: 1.5rem;
  --font-size-min: 1.2rem;
  --font-size-h1: 8rem;
  --font-size-h2: 4rem;
  --font-size-h3: 2.5rem;
  /* FONT-WEIGHT */
  --font-weight-base: 300;
  --font-weight-bold: 600;
  /* BORDER RADIUS */
  --border-radius-min: 0.5rem;
  --border-radius-base: 1rem;
  /* LINE HEIGHT */
  --line-height-base: 2rem;
  --line-height-h1: 9rem;
  --line-height-h3: 3rem;
  /* NAVBAR */
  --navbar-height: 6rem;
}
@media screen and (max-width: 1100px) {
  :root {
    /* FONTS */
    --font-size-h1: 6rem;
    /* LINE HEIGHT */
    --line-height-h1: 7rem;
  }
}
@media screen and (max-width: 900px) {
  :root {
    /* FONTS */
    --font-size-h1: 4rem;
    --font-size-h2: 3rem;
    /* LINE HEIGHT */
    --line-height-h1: 5rem;
  }
}
@media screen and (max-width: 700px) {
  :root {
    /* NAVBAR */
    --navbar-height: 5.5rem;
  }
}
@media screen and (max-width: 550px) {
  :root {
    /* FONTS */
    --font-size-base: 1.2rem;
    --font-size-h1: 3rem;
    --font-size-h2: 2rem;
    --font-size-h3: 2rem;
    /* LINE HEIGHT */
    --line-height-base: 1.5rem;
    --line-height-h1: 4rem;
    --line-height-h3: 2.5rem;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

a {
  color: initial;
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
}

* {
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html.menu-mobile-open, html.languages-list-open {
  scroll-behavior: unset;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-weight: var(--font-weight-base);
  scroll-behavior: smooth;
}
body > main {
  position: relative;
}
body .overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 15;
  height: 100vh;
  width: 100%;
  background-color: var(--color-black--70);
  transition: opacity 0.2s, visibility 0.2s, z-index 0.2s;
}
body.menu-mobile-open, body.languages-list-open {
  position: fixed !important;
  overflow-y: scroll !important;
  scrollbar-color: transparent transparent;
}
body.menu-mobile-open .overlay, body.languages-list-open .overlay {
  opacity: 1;
  visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

.button {
  background-color: var(--color-green-dark);
  border-radius: var(--border-radius-min);
  color: var(--color-white);
  transition: background-color 0.2s;
}
.button:active {
  transform: scale(0.98);
}
.button:hover {
  background-color: var(--color-green-dark-high);
}
.button--medium {
  padding: 1.5rem 2rem;
}
.button--big {
  padding: 2rem 3rem;
}

@media screen and (max-width: 550px) {
  .button--big {
    padding: 1.5rem 2rem;
  }
}
.techno-card {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-shadow: 0.1rem 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.25);
}
.techno-card img {
  width: 60%;
}
.techno-card--60 {
  width: 6rem;
  height: 6rem;
  border-radius: var(--border-radius-min);
}
.techno-card--70 {
  width: 7rem;
  height: 7rem;
  border-radius: var(--border-radius-base);
}
.techno-card--80 {
  width: 8rem;
  height: 8rem;
  border-radius: var(--border-radius-base);
}
.techno-card--100 {
  width: 10rem;
  height: 10rem;
  border-radius: var(--border-radius-base);
}

@media screen and (max-width: 900px) {
  .techno-card--60 {
    width: 5rem;
    height: 5rem;
  }
  .techno-card--70 {
    width: 5.5rem;
    height: 5.5rem;
  }
  .techno-card--80 {
    width: 6.5rem;
    height: 6.5rem;
  }
  .techno-card--100 {
    width: 8rem;
    height: 8rem;
  }
}
@media screen and (max-width: 700px) {
  .techno-card--60 {
    width: 4rem;
    height: 4rem;
  }
  .techno-card--70 {
    width: 4.5rem;
    height: 4.5rem;
  }
  .techno-card--80 {
    width: 5rem;
    height: 5rem;
  }
  .techno-card--100 {
    width: 6.5rem;
    height: 6.5rem;
  }
}
.reveal [class*=reveal-] {
  opacity: 0;
  visibility: hidden;
  transform: translateY(5rem);
}
.reveal-1 {
  transition-delay: 0.2s;
}
.reveal-2 {
  transition-delay: 0.35s;
}
.reveal-3 {
  transition-delay: 0.5s;
}
.reveal-4 {
  transition-delay: 0.75s;
}
.reveal-5 {
  transition-delay: 0.9s;
}

[class*=reveal-] {
  transition-duration: 0.6s;
  transition-property: all;
  transition-timing-function: ease-out;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  animation-duration: 0.5s;
  animation-name: slideInFromTop;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-delay: 1.1s;
  background-color: var(--color-green-light);
  transition: box-shadow 0.6s, background-color 0.2s;
}
nav.sticky {
  box-shadow: 0 0.3rem 1.5rem rgba(109, 109, 109, 0.15);
}
nav .logo {
  font-family: "MonteCarlo", sans-serif;
  font-size: 3rem;
  color: var(--color-green-dark);
}
nav .menu {
  display: flex;
  align-items: center;
}
nav .menu a:nth-child(n+2) {
  margin-left: 4rem;
}
nav .menu a[href^="#"]:hover {
  text-decoration: underline;
}
@keyframes slideInFromTop {
  from {
    top: -4rem;
    opacity: 0;
    visibility: hidden;
  }
  to {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
}
nav.active-menu-mobile .menu-mobile {
  right: 0;
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
nav.active-menu-mobile .menu-mobile-button span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-11px, 3px);
  transform: rotate(-45deg) translate(-11px, 3px);
}
nav.active-menu-mobile .menu-mobile-button span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
nav.active-menu-mobile .menu-mobile-button span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-11px, -3px);
  transform: rotate(45deg) translate(-11px, -3px);
}
nav.active-menu-mobile .menu-mobile-button span {
  background-color: var(--color-green-dark);
  height: 4px;
  width: 3.5rem;
  border-radius: 1rem;
}
nav.active-menu-mobile ~ .home {
  pointer-events: none;
}
nav .menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--color-green-light);
  width: 60%;
  z-index: 0;
  position: absolute;
  right: -15rem;
  top: 0;
  opacity: 0;
  visibility: hidden;
  box-shadow: -0.2rem 0.1rem 1.7rem 0.3rem rgba(0, 0, 0, 0.25);
  transition: right 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
}
nav .menu-mobile a:nth-child(n+2) {
  margin-top: 4rem;
}
nav .menu-mobile-button {
  position: relative;
  z-index: 20;
  display: none;
  cursor: pointer;
}
nav .menu-mobile-button span {
  background-color: var(--color-green-dark);
  height: 4px;
  width: 3.5rem;
  border-radius: 1rem;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
}
nav .lang {
  display: flex;
  align-items: center;
  min-width: 4.1rem;
}
nav .lang span {
  padding-left: 0.5rem;
}
nav .lang:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  nav {
    padding: 1rem 8rem;
  }
}
@media screen and (max-width: 700px) {
  nav {
    padding: 1.5rem 5rem;
    align-items: stretch;
    z-index: 15;
  }
  nav .menu {
    display: none;
  }
  nav .logo {
    font-size: 2.5rem;
  }
  nav .menu-mobile-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (max-width: 400px) {
  nav .menu-mobile {
    width: 70%;
  }
}
.languages-list {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 70%;
  left: 50%;
  width: 60%;
  height: 80vh;
  padding: 4rem;
  border-radius: 2rem;
  transform: translate(-50%, -50%);
  z-index: 15;
  background-color: var(--color-white);
  transition: opacity 0.4s, visibility 0.4s, z-index 0.4s, top 0.4s;
}
.languages-list.open {
  opacity: 1;
  visibility: visible;
  top: 50%;
}
.languages-list > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.languages-list .close {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: background-color 0.2s;
}
.languages-list .close:hover {
  background-color: var(--color-grey-light);
}
.languages-list .close:active {
  transform: scale(0.98);
}
.languages-list .list {
  padding-top: 8rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.languages-list .language {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  transition: background-color 0.2s;
}
.languages-list .language span {
  padding-left: 1rem;
}
.languages-list .language:hover {
  background-color: var(--color-grey-light);
}
.languages-list .language:active {
  transform: scale(0.98);
}
.languages-list .language img, .languages-list .language span {
  pointer-events: none;
}

@media screen and (max-width: 900px) {
  .languages-list {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .languages-list {
    width: 100%;
    height: 100%;
    border-radius: unset;
  }
}
@media screen and (max-width: 550px) {
  .languages-list .list {
    padding-top: 2rem;
  }
  .languages-list .close {
    padding: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .languages-list {
    padding: 3rem;
  }
}
.icon--15 {
  width: 1.5rem;
  height: 1.5rem;
}
.icon--20 {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 550px) {
  .icon--20 {
    width: 1.5rem;
    height: 1.5rem;
  }
}
:root {
  --image-user-hero-left: -15%;
  --image-user-hero-width: 100%;
  --image-vector-hero-left: -30%;
  --image-vector-hero-top: 5%;
  --section-project-padding: 10rem 20rem;
  --section-project-card-width: calc((100% - 2rem * 2) / 3);
  --image-vector-contact-left: -30%;
}

.home {
  position: relative;
}
.home > section {
  min-height: 100vh;
}
.home > .hero, .home .contact {
  background-color: var(--color-green-light);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.home .hero main {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-top: var(--navbar-height);
}
.home .hero .headlines, .home .hero .graphics {
  width: calc(100% / 2);
}
.home .hero .headlines {
  padding-left: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.home .hero .graphics {
  padding-right: 10rem;
  position: relative;
}
.home .hero .name {
  color: var(--color-green-dark);
  padding-top: 2rem;
}
.home .hero .description {
  padding-top: 2rem;
  line-height: var(--line-height-base);
  width: 85%;
  position: relative;
}
.home .hero .description a {
  color: var(--color-green-dark);
  font-weight: var(--font-weight-bold);
}
.home .hero .cta {
  padding-top: 4rem;
  display: flex;
}
.home .hero .line-vector {
  position: absolute;
  left: var(--image-vector-hero-left);
  top: var(--image-vector-hero-top);
}
.home .hero .user {
  position: absolute;
  top: 5%;
  left: var(--image-user-hero-left);
  width: var(--image-user-hero-width);
  animation-name: fadeInFromCenter;
  animation-duration: 0.9s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-delay: 1.2s;
}
@keyframes fadeInFromCenter {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.home .hero .techno-1 {
  bottom: 15%;
  left: 5%;
}
.home .hero .techno-2 {
  top: 20%;
  left: 10%;
  transform: rotate(-25deg);
}
.home .hero .techno-3 {
  top: 15%;
  right: 35%;
  transform: rotate(45deg);
}
.home .hero .techno-4 {
  bottom: 30%;
  right: 20%;
}
.home .hero .techno-5 {
  top: 10%;
  transform: rotate(-35deg);
  left: -2%;
}
.home .hero .emoji {
  position: absolute;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
}
.home > .projects {
  position: relative;
  padding: var(--section-project-padding);
  display: flex;
  flex-direction: column;
}
.home > .projects .techno-6 {
  right: 25%;
  top: -5%;
}
.home > .projects .list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 8rem;
}
.home > .projects .project-card {
  width: var(--section-project-card-width);
}
.home > .projects .project-card:nth-child(n+4) {
  margin-top: 2rem;
}
.home > .projects .project-link-whole {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home .project {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-base);
  background-color: var(--color-green-dark);
  height: 100%;
  padding: 4rem;
  position: relative;
  top: 0;
  transition: top 0.2s, box-shadow 0.2s, background-color 0.2s;
}
.home .project:hover {
  top: -1rem;
  box-shadow: 0.1rem 1rem 2rem 1rem rgba(0, 0, 0, 0.25);
}
.home .project:hover main h3 {
  color: var(--color-green);
}
.home .project header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home .project main {
  padding: 2rem 0 8rem 0;
  flex: 1;
}
.home .project main h3 {
  color: var(--color-green-light);
  transition: color 0.2s;
}
.home .project main p {
  padding-top: 2rem;
  line-height: var(--line-height-base);
  color: var(--color-white);
}
.home .project footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}
.home .project footer span {
  color: var(--color-white);
  font-size: var(--font-size-min);
}
.home .project footer span:not(:last-child) {
  padding-right: 1.5rem;
}
.home .git, .home .website {
  border-radius: 100%;
  transition: background-color 0.2s;
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .git:hover, .home .website:hover {
  background-color: var(--color-green--25);
}
.home .git svg, .home .website svg {
  overflow: visible;
  pointer-events: none;
  fill: var(--color-white);
  width: 2rem;
  height: auto;
}
.home .website {
  margin-left: 1rem;
}
.home .contact .line-vector {
  position: absolute;
  left: var(--image-vector-contact-left);
  top: -15%;
}
.home .contact main, .home .contact footer {
  position: relative;
}
.home .contact > section {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.home .contact main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.home .contact .cta {
  padding-top: 4rem;
  display: flex;
}
.home .contact .description {
  width: 35%;
  text-align: center;
  line-height: var(--line-height-base);
  padding-top: 2rem;
}
.home .contact footer {
  padding: 4rem;
  font-size: var(--font-size-min);
  text-align: center;
}
.home .contact footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1600px) {
  :root {
    --image-user-hero-width: 110%;
    --image-vector-hero-left: -20%;
    --image-vector-contact-left: -50%;
  }

  .home .contact .line-vector {
    width: 120%;
    height: 120%;
    top: -10%;
  }
}
@media screen and (min-width: 1800px) {
  :root {
    --section-project-card-width: calc((100% - 2rem * 3) / 4);
  }

  .home > .projects .project-card:nth-child(n+4) {
    margin-top: unset;
  }
  .home > .projects .project-card:nth-child(n+5) {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1400px) {
  :root {
    --image-user-hero-left: -10%;
    --image-vector-hero-left: -25%;
    --section-project-padding: 10rem 15rem;
  }
}
@media screen and (max-width: 1300px) {
  :root {
    --image-vector-hero-left: -35%;
    --section-project-padding: 10rem;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --image-user-hero-width: 130%;
    --image-user-hero-left: -25%;
    --image-vector-hero-left: -45%;
    --section-project-card-width: calc((100% - 2rem) / 2);
    --section-project-padding: 10rem;
    --image-vector-contact-left: -40%;
  }

  .home .hero .headlines {
    padding-left: 8rem;
  }
  .home .hero .graphics {
    padding-right: 8rem;
    left: 2%;
  }
  .home > .projects .project-card:nth-child(n+3) {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1150px) {
  .home .hero .headlines {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding: 0 10rem;
    align-items: center;
  }
  .home .hero .graphics {
    width: 100%;
    position: absolute;
    height: calc(100% - var(--navbar-height));
    padding-right: unset;
    left: unset;
  }
  .home .hero .line-vector, .home .hero .user {
    display: none;
  }
  .home .hero .techno-1 {
    bottom: 15%;
    left: -2%;
  }
  .home .hero .techno-3 {
    right: 5%;
  }
  .home .hero .techno-4 {
    right: -2%;
  }
}
@media screen and (max-width: 1100px) {
  .home .contact .description {
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  :root {
    --section-project-card-width: calc(100%);
    --section-project-padding: 10rem 20rem;
    --image-vector-contact-left: -80%;
  }

  .home .hero .headlines {
    padding: 0 5rem;
  }
  .home .hero .techno-1 {
    bottom: 15%;
    left: -2%;
  }
  .home .hero .techno-3 {
    right: 5%;
  }
  .home .hero .techno-4 {
    right: -2%;
  }
  .home > .projects .project-card:nth-child(n+2) {
    margin-top: 2rem;
  }
  .home > .projects .list {
    padding-top: 6rem;
  }
  .home > .projects .techno-6 {
    top: -3%;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --section-project-padding: 10rem 15rem;
  }
}
@media screen and (max-width: 700px) {
  :root {
    --image-vector-contact-left: -120%;
  }

  .home .hero .description {
    width: 100%;
  }
  .home .contact .description {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --section-project-padding: 10rem 8rem;
  }

  .home .hero .headlines {
    padding: 0 2rem;
  }
  .home .hero .techno-2 {
    top: 5%;
    left: 30%;
  }
  .home .hero .techno-3 {
    top: 5%;
  }
  .home .hero .techno-4 {
    bottom: 5%;
  }
  .home .hero .techno-5 {
    top: 10%;
  }
}
@media screen and (max-width: 550px) {
  :root {
    --section-project-padding: 8rem 2rem;
    --image-vector-contact-left: -150%;
  }

  .home .hero .description {
    padding-top: 1rem;
  }
  .home .hero .cta {
    padding-top: 2rem;
  }
  .home > .projects .list {
    padding-top: 4rem;
  }
  .home .contact {
    padding: 0 2rem;
  }
  .home .contact .description {
    width: 100%;
    padding-top: 1rem;
  }
  .home .contact .cta {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 450px) {
  :root {
    --image-vector-contact-left: -200%;
  }
}
@media screen and (max-width: 400px) {
  :root {
    --image-vector-contact-left: -250%;
  }

  .home .hero .techno-2, .home .hero .techno-4, .home .hero .techno-5 {
    display: none;
  }
  .home .hero .techno-1 {
    bottom: 5%;
  }
  .home .hero .techno-3 {
    top: 5%;
  }
  .home .hero .description {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .home .hero .cta {
    padding-top: 4rem;
  }
  .home .project {
    padding: 2rem;
  }
  .home .project main {
    padding: 2rem 0 6rem 0;
  }
  .home > .projects .techno-6 {
    right: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
