:root {
    --color-green-light: #D3FBE3;
    --color-green: #5DE1A2;
    --color-green--25: rgba(93, 225, 162, 0.25);
    --color-green-dark: #156D39;
    --color-green-dark-high: #0B4824;
    
    --color-black: #000000;
    --color-black--70: rgba(0, 0, 0, 0.7);
    --color-white: #FFFFFF;

    --color-grey-light: #F1F1F1;

    /* FONTS */
    --font-size-base: 1.5rem;
    --font-size-min: 1.2rem;

    --font-size-h1: 8rem;
    --font-size-h2: 4rem;
    --font-size-h3: 2.5rem;

    /* FONT-WEIGHT */
    --font-weight-base: 300;
    --font-weight-bold: 600;

    /* BORDER RADIUS */
    --border-radius-min: 0.5rem;
    --border-radius-base: 1rem;

    /* LINE HEIGHT */
    --line-height-base: 2rem;
    --line-height-h1: 9rem;
    --line-height-h3: 3rem;

    /* NAVBAR */
    --navbar-height: 6rem;

    @media screen and (max-width: 1100px) {

        /* FONTS */
        --font-size-h1: 6rem;

        /* LINE HEIGHT */
        --line-height-h1: 7rem;
    }

    @media screen and (max-width: 900px) {
        
        /* FONTS */
        --font-size-h1: 4rem;
        --font-size-h2: 3rem;

        /* LINE HEIGHT */
        --line-height-h1: 5rem;
    }

    @media screen and (max-width: 700px) {
        /* NAVBAR */
        --navbar-height: 5.5rem;
    }

    @media screen and (max-width: 550px) {

        /* FONTS */
        --font-size-base: 1.2rem;
        --font-size-h1: 3rem;
        --font-size-h2: 2rem;
        --font-size-h3: 2rem;

        /* LINE HEIGHT */
        --line-height-base: 1.5rem;
        --line-height-h1: 4rem;
        --line-height-h3: 2.5rem;
    }
}