.icon {

    &--15 {
        @include square(1.5rem);
    }

    &--20 {
        @include square(2rem);
    }
}

@media screen and (max-width: 550px) {

    .icon {
        &--20 {
            @include square(1.5rem);
        }
    }
    
}