.techno-card {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0.1rem 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.25);

    & img {
        width: 60%;
    }

    &--60 {
        @include square(6rem);
        border-radius: var(--border-radius-min);
    }

    &--70 {
        @include square(7rem);
        border-radius: var(--border-radius-base);
    }

    &--80 {
        @include square(8rem);
        border-radius: var(--border-radius-base);
    }

    &--100 {
        @include square(10rem);
        border-radius: var(--border-radius-base);
    }
    
}

@media screen and (max-width: 900px) {

    .techno-card {

        &--60 {
            @include square(5rem);
        }
    
        &--70 {
            @include square(5.5rem);
        }
    
        &--80 {
            @include square(6.5rem);
        }
    
        &--100 {
            @include square(8rem);
        }
    }

}

@media screen and (max-width: 700px) {

    .techno-card {

        &--60 {
            @include square(4rem);
        }
    
        &--70 {
            @include square(4.5rem);
        }
    
        &--80 {
            @include square(5rem);
        }
    
        &--100 {
            @include square(6.5rem);
        }
    }

}